<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



<h1>ceci est un test de git</h1>
<p class="navbar-lewagon"></p>
<div class="container" id="banner-typed-text">
<br>

<% if user_signed_in? %>
<p>Welcome </p>
<%= current_user.first_name %>
<%= current_user.last_name %>
<% end %>


</div>
