
<br>
<h1>Louez un scooter à <span id="banner-typed-text"></span></h1>
<h2 ></h2>
<p class="navbar-lewagon"></p>
<div class="container" id="banner-typed-text">
<br>

<% if user_signed_in? %>
<p>Welcome </p>
<%= current_user.first_name %>
<%= current_user.last_name %>
<% end %>

<h1>
  <span id="banner-typed-text"></span>
</h1>

</div>
