.container-top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0, 0.4)), url("https://images.unsplash.com/photo-1570823968774-4b5a70a2e620?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80"), linear-gradient(#eb01a5, #d13531);
  height: 400px;
  background-size: cover;
  margin: 0 auto;
}

.java {
  padding-top: 60px;
  color: white;
}

