.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  background:rgba(255,255,255,.3);
}

.nav-link {
  color: white !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.orga-navbar {
  display: flex;
  justify-content: space-between;
}

.home {
  display: flex;
  align-items: center;
}

.navbar-center {
  display: flex;
  align-items: center;
  color: white;
}

.avatar {
  display: flex;
  align-items: center;
}
